* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Nav */

/* /Nav */

/* Jumbotron */
#jumbotron {
    height: 500px;
    background-color: #1cbc9b;
    text-align: center;
}

#jumbotron img {
    height: 250px;
    margin-top: 50px;
}

#jumbotron h1 {
    font-size: 60px;
    color: white;
}

#jumbotron h4 {
    color: white;
}
/* /Jumbotron */

/* Main */
.white {
    height: 700px;
    padding: 150px 200px;
}

.container-block {
    height: 230px;
    width: calc(100% / 3);
    padding: 10px;
}

.block {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    padding: 5px;
}

.block img {
    height: 100%;
    width: 100%;
}

.b-bordeaux {
    background-color: #bb4a63;
}

.b-aqua {
    background-color: #1ca5b5;
}

.b-black {
    background-color: black;
}

.b-light-blue {
    background-color: #1b83c1;
}

.b-blue {
    background-color: #0f38b5;
}

.b-cream {
    background-color: #ccb2a3;
}

.aqua {
    height: 400px;
    background-color: #1cbc9b;
}
/* /Main */

/* Footer */
.white-2 {
    height: 500px;
}

.light-blue {
    height: 200px;
    background-color: #3b546d;
}
/* /Footer */