* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Nav */

/* /Nav */

/* Jumbotron */
#jumbotron {
    height: 500px;
    background-color: #1cbc9b;
    text-align: center;
}

#jumbotron img {
    height: 250px;
    margin-top: 50px;
}

#jumbotron h1 {
    font-size: 60px;
    color: white;
}

#jumbotron h4 {
    color: white;
}
/* /Jumbotron */

/* Main */
.white {
    height: 700px;
    padding: 100px 200px;
    text-align: center;
}

.container-block {
    height: 230px;
    width: calc(100% / 3);
    padding: 10px;
}

.block {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    padding: 5px;
}

.block img {
    height: 100%;
    width: 100%;
}

.b-bordeaux {
    background-color: #bb4a63;
}

.b-aqua {
    background-color: #1ca5b5;
}

.b-black {
    background-color: black;
}

.b-light-blue {
    background-color: #1b83c1;
}

.b-blue {
    background-color: #0f38b5;
}

.b-cream {
    background-color: #ccb2a3;
}

.aqua {
    height: 400px;
    background-color: #1cbc9b;
    text-align: center;
}

.aqua h1 {
    color: white;
    padding-top: 50px;
}

.aqua p {
    display: inline-block;
    text-align: left;
    color: white;
}

.aqua button {
    display: block;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    background-color: #1cbc9b;
    padding: 5px;
}

.aqua button i {
    color: white;
}

.white-2 {
    height: 500px;
    padding: 70px 250px;
}

.white-2 h1 {
    text-align: center;
}

.white-2 ul {
    list-style-type: none;
}

.white-2 li {
    border-bottom: 1px solid black;
    padding-bottom: 15px;
    padding-top: 10px;
}

.white-2 li:last-child {
    padding-bottom: 100px;
    padding-top: 20px;
}

.white-2 button {
    color: white;
    background-color: #1cbc9b;
    border: none;
    border-radius: 5px;
    padding: 8px;
    margin-left: 15px;
}
/* /Main */

/* Footer */
.light-blue {
    height: 200px;
    background-color: #3b546d;
}
/* /Footer */

/* Media query */
@media screen and (max-width: 1000px) {
    .white {
        height: 900px;
        padding: 100px 100px;
    }

    .container-block {
        width: calc(100% / 2);
    }
}

@media screen and (max-width: 500px) {
    .white {
        height: 1600px;
        padding: 100px 50px;
    }

    .container-block {
        width: 100%;
    }
}
/* Media query */